.font{
    font-family: 'Segoe UI';
    font-weight: 100;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    box-shadow: none;

}

nav li {
    float: left;
    display: block;

}


.tab-over{
    padding-right: 45px;
}

.container a {

    color: black;
    text-decoration: none;
  }


body {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 162px;
}

.cart{
    float: right;
    margin-right: 0;
    padding-right: -45px;
}

hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    background-color: transparent;
    background-color: black;
    height: 5px;
}

.hrs {
    display: block;
    overflow: hidden;
    border-style: inset;
    background-color: transparent;
    background-color: #BF7631;
    height: 2px;
}

.search-bar{
    float: right;
    padding-right: 36px;
}

h3 {
    margin-top: 45px;
    margin-bottom: 27px;
    font-weight: normal;
}