.font{
    font-family: 'Segoe UI';
    font-weight: 100;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    box-shadow: none;

}

nav li {
    float: left;
    display: block;

}


.tab-over{
    padding-right: 45px;
}

.container a {

    color: black;
    text-decoration: none;
}

.mid-align{
    margin-left: 185px;
    
}

body {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 162px;
}

.cart{
    padding-left: 45px;
}

hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    background-color: transparent;
    background-color: black;
    height: 5px;
}
.hr2{
    margin-left: 0;
    width: 950px;
}
.hr3{
    margin-left: 0;
    width: 276px;
}


.hrs {
    display: block;
    overflow: hidden;
    border-style: inset;
    background-color: #BF7631;
    height: 2px;
    width: 127px;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.search-bar{
    float: right;
    padding-right: 46px;
    margin-left: 345px;
}

#spyglass{
    background-image: url(../assets/1200px-Google_Magnifying_Glass.svg.png);
    background-position: 270px 3px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 220px;
    width: 290px;
    height: 25px;


}

h3 {
    margin-top: 45px;
    margin-bottom: 27px;
    font-weight: normal;
}

h1{
    font-weight: normal;
    font-size: 45px;
    margin-bottom: 20px;
}

h4{
    margin-top: 30px;
    margin-bottom: 17px;
    font-size: 30px;
    font-weight: normal;
}

.panel{
    height: 633px
}

.banner-text-left{
    color: white;
    font-size: 45px;
    padding: 0;
    margin-left: 146px;
    margin-top: 120px;
    margin-bottom: 0;
    height: 197px;
    width: 280px;
}
.banner-text-right{
    color: white;
    font-size: 45px;
    padding: 0;
    margin-left: 656px;
    margin-top: 513px;
    margin-bottom: 40px;
    height: 197px;
    width: 280px;
}

#banner{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    margin-top: 0px;
    padding: 58px;
}
.left-banner-black{
    background-color: black;
    margin-left: 0;
    position: absolute;
    top: 165px;
    left: 0px;
    width: 146px;
    height: 750px;
}
.right-banner-black{
    background-color: black;
    margin-left: 0;
    position: absolute;
    top: 165px;
    right: 0px;
    width: 146px;
    height: 750px;
}

.banner-shade-right{
    background-image: linear-gradient(270deg, black, transparent);
    margin-left: 0;
    position: absolute;
    top: 165px;
    right: 0px;
    width: 55%;
    height: 750px;
}

.banner-shade-left{
    background-image: linear-gradient(to right, black, transparent);
    margin-left: 0;
    position: absolute;
    top: 165px;
    left: 0px;
    width: 55%;
    height: 750px;
}

.title-cara{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: .239em;
}

.rcara-shift{
    margin-left: 10px
}
.lcara-shift{
    margin-right: 10px
}

#pottery-logo-o{
    background-image: url(../assets/icons8-pottery-96.png);
    background-size: contain;
    height: 45px;
    width: 45px;
}
#pottery-logo-w{
   
    height: 45px;
    width: 45px;
}

.tab-in{
    margin-top: 62px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 890px;
}

p{
    font-size: 20px;
    
    padding: 10px;
}
.label{
    font-size: 30px;
    margin-left: 276px;
    margin-top: 56px;
}


.spacer-small{
    height: 25px;
}
.spacer{
    height: 50px;
}
.spacer-prod-top{
    height: 112px;
}
.spacer-prod-bot{
    height: 143px;
}

.email{
    width: 1088px;
    height: 54px;
    box-sizing: border-box;
    margin-left: 276px;  
    margin-top: 20px;
    margin-bottom: 33px;
    
}

.message{
    width: 1088px;
    height: 205px;
    box-sizing: border-box;
    margin-left: 276px;
    margin-top: 20px;
    margin-bottom: 23px;
   
}

#column-image{
    float: right;
    margin-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/Cylinder_unglazed3_2048x2048.jpg);
    height: 808px;
    width: 600px;
    transform: scaleX(-1);
}

.row-bottom{
    height: 0;
    margin-left: 417px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row-inner:after {
    width: 950px;
    content: "";
    display: table;
    clear: both;
}

.column-left{
    float: left;
    clear: both;
}
.column-right{
    float: right;
}


#about-vase{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/Vase_Dame_2048x2048.jpg);
    width: 397px;
    height: 534px;
    margin-top: 15px;
}

.between-text{
    float: left;
    width: 430px;
    padding-top: 0;
    padding-left: 74px;
    padding-right: 20px;
    margin-top: 15px;
}

.wrapper{
    display: grid;
    grid-template-areas: "1 2 3" "4 5 6" "7 8 9";
    background-color: transparent;
    width: 100%;
    height: 2400px;
    align-content: space-between;
    justify-content: space-between;
    
}

.child{
    height: 692px;
    width: 395px;
    display: flex;
    flex-direction: column;
}

#mundo{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-7HuTGlUfQSo-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}

#nat-vase{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/oriento-maVIpNNtmlQ-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#fiera{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-bgIO-u4GEfI-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#nat-pots{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-3uwu5K0RtaE-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#pedra{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/linh-le-a0rE64YJDA4-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#viaja{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-oiZAQvxTcYQ-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#servi{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-YA2E3d7a9Wo-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#campe{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/oriento-l0ah3UBLppo-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}
#troca{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/tom-crew-SITGdvztUdg-unsplash.jpg);
    background-position: 50%;
    height: 398px;
    border: 1px solid #707070;

    
}








.product-title{
    margin-top: 30px;
    margin-left: 3px;
}


.card-text{
    margin-top: 17px;
    margin-left: 0;
    padding: 0;
}

.orange-text{
    margin-top: 17px;
    margin-left: 3px;
    margin-bottom: 0;
    padding: 0;
    color: #BF7631;
    font-weight: bolder;
    /* I elected bolder, nromal is just as accurate, but bold is a better call to action*/
}

.add-button{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 10px;
    background-color: #BF7631;
    color: white;
    width: 170px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.send-button{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 260px;
    margin-top: 10px;
    background-color: #BF7631;
    color: white;
    width: 130px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}


.foot{
    height: 162px;
    width: 100%;
    background-color: #BF7631;
    margin-left: 0;
    position: absolute;
    left: 0px;
}

.sm-icon-l{
    height: 75px;
    width: 75px;
    margin-right: 35px;
}
.sm-icon-r{
    height: 75px;
    width: 75px;
    margin-left: 35px;
}

.align-foot{
    display: flex;
    align-items: center;
}

.foot-logo-buf{
    margin: 0 142px 0;
}

.foot-y-align{
    margin-left: 417px;
    margin-top: 22px;
}