.custom-body{
    font-family: 'Segoe UI';
    font-weight: 100;
    margin: 0;
}

nav {
    /* height: 6.4em; */
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0%
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    box-shadow: none;

}

nav li {
    float: left;
    display: block;

}


.counter-nav {
    margin-top: 9.5em;
}

.tab-over{
    font-size: 1.17em;
    padding-right: 3vw;
}

.skip-links a {
    color: black;
    text-decoration: none;
}

.mid-align{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    background-color: transparent;
    background-color: black;
    height: 5px;
}
.hr2{
    margin-left: 0%;
    width: 59%;
}

.hr3{
    margin-left: 0;
    width: 70%;
}


.hrs {
    display: block;
    overflow: hidden;
    border-style: hidden;
    background-color: #BF7631;
    height: 2px;
    width: 8em;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


#spyglass{
    background-position: 20.5em 0.3rem;
    background-repeat: no-repeat;
    background-size: 1.5em;
    width: 22em;
    height: 1.75em;    
    background-image: url(../assets/1200px-Google_Magnifying_Glass.svg.png);
}

h3 {
    margin-top: 2.4em;
    margin-bottom: 1.4em;
    font-weight: normal;
}

h1{
    font-weight: normal;
    font-size: 2.8em;
    margin-bottom: 0.5em;

}

h4{
    margin-top: 1em;
    margin-bottom: 0.6em;
    font-size: 1.85em;
    font-weight: normal;
}

.panel{
    height: 40em
}


#home_jump{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}


.page-margin {
    margin-left: 7.37%;
    margin-right: 7.37%;
}



section{
    margin-left: 7.37%;
    margin-right: 7.37%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inThirds{
    width: 33.33%;
}


.black-side{
    width: 20%;
    position: initial;
    background-color: black;
    height: 33vw;
    overflow: visible;
}


#banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(left, black, transparent, black), url(../assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);

    height: 33vw;
    width: 61%;
}


.title-cara{
    font-size: 2.15em;
    /* font-size: 40px; */
    font-weight: 400;
    letter-spacing: .239em;
}

.rcara-shift{
    margin-left: 0.5rem;
    /* margin-left: 10px */
}
.lcara-shift{
    margin-right: 0.5rem
    /* margin-right: 10px */
}

#pottery-logo-o{
    background-image: url(../assets/icons8-pottery-96.png);
    background-size: contain;
    height: 2.75em;
    width: 2.75em;
    background-repeat: no-repeat;
}
#pottery-logo-w{
    height: 45px;
    width: 45px;
}

.tab-in{
    margin-top: 3em;
    margin-left: 2.5em;
}

p{
    font-size: 20px;
    padding: 10px;
}

.label{
    font-size: 1.87em;
    margin-left: 17%;
}

.spacer-small{
    height: 1.6em;
}
.spacer{
    height: 3em;
}
.spacer-large{
    height: 6.5em;
}


.email{
    width: 67%;
    height: 3em;
    box-sizing: border-box;
    margin: 1% 17%
}

.message{
    width: 67%;
    height: 15em;
    box-sizing: border-box;
    margin: 1% 17%
}

#column-image{
    float: right;
    /* margin-top: 30px; */
    margin-top: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/Cylinder_unglazed3_2048x2048.jpg);
    /* height: 808px;
    width: 600px; */
    height: 51em;
    width: 38em;
    transform: scaleX(-1);
}

.footer-format{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
}


.socials-left{
    display: flex;
    justify-content: flex-end;
}

.socials-right{
    display: flex;
    justify-content: flex-start;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    display: flex;
    margin: 0 23%;
    justify-content: space-between;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.row-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


.column-left{
    float: left;
    clear: both;
    
}
.column-right{
    float: right;
}


.about-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    float: left;
    clear: both;
}

.nested-vase{
    width: 50%;
}
.nested-text{
    width: 50%;
}


#about-vase{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/Vase_Dame_2048x2048.jpg);
    width: 24em;
    height: 32em;
}


.wrapper{
    display: grid;
    grid-template-areas: "1 2 3" "4 5 6" "7 8 9";
    background-color: transparent;
    width: 100%;
    height: 100%;
    justify-items: stretch;
    align-content: space-between;
  
    align-items: baseline;
    gap: 7.6em 13.932em;
}


.child{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    align-content: space-between;
}

.grid-children{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 25em;
    /* height: 398px; */
    border: 1px solid #707070;
}


#mundo{
    background-image: url(../assets/tom-crew-7HuTGlUfQSo-unsplash.jpg);
}

#nat-vase{
    background-image: url(../assets/oriento-maVIpNNtmlQ-unsplash.jpg);
}

#fiera{
    background-image: url(../assets/tom-crew-bgIO-u4GEfI-unsplash.jpg);
}

#nat-pots{
    background-image: url(../assets/tom-crew-3uwu5K0RtaE-unsplash.jpg);
}

#pedra{
    background-image: url(../assets/linh-le-a0rE64YJDA4-unsplash.jpg);
}

#viaja{
    background-image: url(../assets/tom-crew-oiZAQvxTcYQ-unsplash.jpg);
}

#servi{
    background-image: url(../assets/tom-crew-YA2E3d7a9Wo-unsplash.jpg);
}

#campe{
    background-image: url(../assets/oriento-l0ah3UBLppo-unsplash.jpg);
}

#troca{
    background-image: url(../assets/tom-crew-SITGdvztUdg-unsplash.jpg);
}



.card-text{
    margin-top: 0.85em;
    margin-left: 0;
    padding: 0;
    color: black;
}

.orange-text{
    margin-top: .95em;
    margin-left: 3px;
    margin-bottom: 0;
    padding: 0;
    color: #BF7631;
    font-weight: bolder;
    text-decoration: none;
}

.add-button{
    font-size: 1.25em;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: .5em;
    background-color: #BF7631;
    color: white;
    width: 8.5em;
    height: 1.95em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.send-button{
    font-size: 1.25em;
    margin-bottom: 0;
    margin-right: 16%;
    margin-top: .5em;
    background-color: #BF7631;
    color: white;
    width: 6.5em;
    height: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.copyright{
    position: absolute;
    right: 7%;
    bottom: 7%
}

.foot{
    width: 100%;
    background-color: #BF7631;
    position: absolute;
    left: 0px;
}

.sm-icon-l{
    height: 5em;
    width: 5em;
    margin-right: 1em;
}
.sm-icon-r{
    height: 5em;
    width: 5em;
    margin-left: 1em;
}


@media only screen and (max-width: 768px){
    [class="wrapper"]{
        display: grid;
        grid-template-areas:
            "1"
            "2"
            "3"
            "4"
            "5"
            "6"
            "7"
            "8"
            "9";
        width: 80%;
        height: 100%;
        /* justify-items: stretch; */
        align-content: space-between;
        align-items: baseline;
        grid-gap: 7.6em;
        margin-left: 10%;
    };
}


@media only screen and (max-width: 768px){
    [class*="banner-shade-"]{
        height: 21em;
    }
}

@media only screen and (max-width: 768px){
    [class*="-banner-black"]{
        height: 21em;
    }
}

@media only screen and (max-width: 768px){
    [id="banner"]{
        height: 21em
    }
}

@media only screen and (width: 768px){
    [class*="about-left"]{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        float: left;
        clear: both;
    }
}

@media only screen and (max-width: 768px){
    [class="row"]{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 768px){
    [class="row-inner"]{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 768px){
    [class="nested-text"]{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    [class="about-left"]{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    [class*="inThirds"]{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    [class*="navbar"]{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px){
    [class*="cart"]{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px){
    [class*="mid-align"]{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    [class*="counter-nav"]{
        margin-top: 13.5em;
    }
}


.banner-text-left {
    width: 18vw;
    text-align: left;
    position: absolute;
    top: 25%;
    left: -5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    padding: 0;
    margin: 0;
}

.banner-text-right {
    width: 18vw;
    text-align: right;
    position: absolute;
    top: 75%;
    left: 105%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    padding: 0;
    margin: 0;
}


/* Product pages */

.product-image {
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: 50%; */
    height: 40em;
    width: 66%;
    /* height: 398px; */
    border: 1px solid #707070;
    top: 5em;
    position: sticky;
}

.product-margin {
    margin: 0px auto;
    max-width: 1400px;
}

.product-details {
    max-width: 30%;
}

.side-by-side{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.title-margins{
    margin: 0 0 1em;
}

.price-margins{
    margin: 0;
}